[submodule "workflow_commands"]
	path = workflow_commands
	url = https://gitlab.inria.fr/dnarxiv/workflow_commands.git
[submodule "source_encoding"]
	path = source_encoding
	url = https://gitlab.inria.fr:dnarxiv/source_encoding.git
[submodule "synthesis_simulation"]
	path = synthesis_simulation
	url = https://gitlab.inria.fr:dnarxiv/synthesis_simulation.git
[submodule "sequencing_simulation"]
	path = sequencing_simulation
	url = https://gitlab.inria.fr:dnarxiv/sequencing_simulation.git
[submodule "channel_code"]
	path = channel_code
	url = https://gitlab.inria.fr:dnarxiv/channel_code.git
