[submodule "workflow_commands"]
	path = workflow_commands
	url = https://gitlab.inria.fr/dnarxiv/workflow_commands.git
[submodule "source_encoding"]
	path = source_encoding
	url = https://gitlab.inria.fr/dnarxiv/source_encoding.git
[submodule "synthesis_modules"]
	path = synthesis_modules
	url = https://gitlab.inria.fr/dnarxiv/synthesis_modules.git
[submodule "sequencing_modules"]
	path = sequencing_modules
	url = https://gitlab.inria.fr/dnarxiv/sequencing_modules.git
[submodule "channel_code"]
	path = channel_code
	url = https://gitlab.inria.fr/dnarxiv/channel_code.git
